.news {
    display: block;
    margin: 0.8rem 0 0 1.6rem;
    flex-direction: column;
    align-content: right;
}

.news a {
    text-decoration: none;
    color: black;
    outline: none;
}

.news-tab {
    color: $white;
    background: $bg2;
    width: 33.6rem;
    height: 7.2rem;
    margin-bottom: 1.6rem;
    border-radius: 8px;
    box-shadow: $b_shade;
    overflow: hidden;
    position: relative;
    display: flex;
    cursor: pointer;
}

.news-left {
    width: 8rem;
    height: 8rem;
    background: rgba(12, 12, 13, 0.1);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.news-right {
    width: calc(100% - 10vh);
    float: right;
    margin-left: 3px;
    height: 10vh;
    overflow: hidden;
}

.news-title {
    font-weight: 600;
    font-family: 'Lato', cursive;
    text-align: center;
    color: $white;
}

.reddit {
    display: block;
    margin: 0.8rem 0 0 1.6rem;
    flex-direction: column;
    align-content: right;
}

.reddit a {
    text-decoration: none;
    color: black;
    outline: none;
}

.reddit-tab {
    color: $white;
    background: $bg2;
    width: 33.6rem;
    height: 7.2rem;
    margin-bottom: 1.6rem;
    border-radius: 8px;
    box-shadow: $b_shade;
    overflow: hidden;
    position: relative;
    display: flex;
    cursor: pointer;
}

.reddit-left {
    width: 8rem;
    height: 8rem;
    background: rgba(12, 12, 13, 0.1);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.reddit-right {
    width: calc(100% - 8.8rem);
    float: right;
    margin-left: 10px;
    height: 10vh;
    overflow: hidden;
}

.reddit-title {
    font-weight: 600;
    font-family: 'Lato', cursive;
    text-align: center;
    color: $white;
}

#git-container {
    margin: 0.8rem 0 0 1.6rem;
    box-sizing: border-box;
    line-height: 1.5;
    display: flex;
    align-items: right;
    justify-content: space-between;
    flex-direction: column;
}

.git-card {
    img {
        width: 100%;
        height: 8rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: $act2;
    }
    margin-bottom: 1.6rem;
    position: relative;
    background: $bg2;
    width: 16rem;
    height: 16rem;
    border-radius: 8px;
    color: $white;
    box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2),
        0 0 1rem rgba(0,0,0,0.2);
    overflow: hidden;

    .git-description {
        padding: 0% 2%;
        font-size: 16px;
        color: $white;
    }

    .git-card__title{
        color: $white;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.01em;
        margin: 1rem 0rem;
        background-color: $act2;
        text-transform: capitalize;
    }

    &__image-container {
        margin: -0rem 0rem 0rem 0rem;
    }

    &__line {
        opacity: 0;
        animation: LineFadeIn .8s .8s forwards ease-in;
    }

    &__image {
        opacity: 0;
        animation: ImageFadeIn .8s 1.4s forwards;
    }


    &__content {
        margin-top: -1rem;
        opacity: 0;
        animation: ContentFadeIn .4s 0.8s forwards;
    }
}

@keyframes LineFadeIn {
    0% { opacity: 0; d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 "); stroke: $white; }
    50% { opacity: 1; d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300"); stroke: $blue1; }
    100% { opacity: 1; d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400"); stroke: $act2; }
}

@keyframes ContentFadeIn {
    0% { transform: translateY(-1rem); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes ImageFadeIn {
    0% { transform: translate(-.5rem, -.5rem) scale(1.05); opacity: 0; filter: blur(2px); }
    50% { opacity: 1; filter: blur(2px); }
    100% { transform: translateY(0) scale(1.0); opacity: 1; filter: blur(0); }
}