body {
    font-family: $fontfamily;
    font-size: 22px;
    color: $offblack;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: $offblack;
    margin: 70px 0 0 0;
    font-weight: 500;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.15);
}

h3 {
    margin:0;
    font-weight: normal;
    color: $secondary;
}

a {
    color: $primary;
    text-decoration: none;
    &:hover {
        transition: .8s;
        color: $secondary;
    }
}

cite {
    color: $secondary;
}

#qod {
    font-size: 1em;
}