
input[type="text"] {
    padding: 15px;
    border-radius: 30px;
    border-bottom: 2px solid $secondary;
    width: 75%;
}

.form-container {
    display: block;
    margin: 50px auto 0 auto;
    width: 71%;
    flex-direction: column;
    align-content: center;
}

.quote {
    font-size: small;
    margin: 15px;
}

.card {
    background: $bg2;
    color: $white;
    padding: 25px;
    margin-top: 50px;
    min-width: 25%;
    border-radius: 9px;
    box-shadow: 3px 3px 10px $bs;
  }