// Typography

$fontfamily: sofia-pro-soft, sans-serif;

$body-font-size: 1rem;

// Colors
$primary: #5d4d7a;
$secondary: #bc6ec5;
$offblack: #211A1D;

$white: #a3a3a3;
$bs: #222;
$bg2: #333;
$background: #292b2e;
$gray: #333;
$orange: #454545;

$baseSize: 1.4rem;

$slowDuration: 9s;
$fastDuration: 0.3s;

$bezier: cubic-bezier(0.54, -0.24, 0.46, 1.28);