@import 'variables';
@import 'normalize';
@import 'typography';
@import 'forms';
@import 'imgs';
@import 'cal';

html {
    background: $background;
}

/* Theme CSS */
body {
  background: $background;
  color: black;
}

#greeting {
  margin: 10px 10px 10px 10px;
  text-align: center;
}

.section-one {
  width: 50%;
  float: center;
  margin-top: 10vh;
  align-content: center;
}

.section-two {
  width: 25%;
  float: right;
  margin-top: 10vh;

}

.row {
  display: flex;
  justify-content: space-around;
}

.search {
  height: 3rem;
  width: 33%;
  height: 10vh;
  background: transparent;
  margin: 0 auto;
  border-bottom: 13px;
  bottom: 13;
  border: none;
  border-bottom: 3px solid $primary;
  opacity: 0.1;

}

.search input {
  height: 48px;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  color: $primary;
  width: calc(100% - 96px);
  font-weight: 500;
}


.browse {
  margin: 0 3rem 0 2.5rem;
}

.browse h5 {
  margin-bottom: 0.5rem;
}

.tabs-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 1rem;
}

.link-tab {
  height: 120px;
  background: $bg2;
  color: #444;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-tab:hover {
  background: rgba(12, 12, 13, 0.07);
  transition: 0.5s;
}

.link-tab a {
  cursor: pointer;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;

  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: black;


  display: flex;
  align-items: center;
  justify-content: center;
}

.link-tab a:hover {
  background: rgba(12, 12, 13, 0.12);
  transition: 0.5s;
}

.add-tab a {
  background: url(add-button.svg) no-repeat center;
}

.add-tab a:hover {
  background: url(add-button.svg) no-repeat center, rgba(12, 12, 13, 0.12);
  transition: 0.5s;
}

.weather-card {
  width: 90%;
  height: 25vh;
  background: white;
  margin: 8px 0 0 0;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.temperature {
  font-family: 'Lato', cursive;
  font-weight: 100;
  color: #585757;
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
}

.temperature span {
  vertical-align: top;
  font-size: 14px;
  font-weight: 400;
  margin-left: 2px;
}

.weather-icon {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 70%;
  height: 70%;
  background: url(../assets/weathericons/cloudy_night_snowy_rainy.svg) no-repeat center;
  display: relative;
}

#icon-description {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 14px;
  color: #585757;
  white-space: nowrap;
}

.weather-credit {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 12px;
}

.news {
  margin-top: 5px;
}

.news a {
  text-decoration: none;
  color: black;
  outline: none;
}

.news-tab {
  color: $white;
  background: $bg2;
  width: 100%;
  height: 10%;
  margin: 10px 0 0 0;
  border-radius: 9px;
  box-shadow: 3px 3px 10px $bs;
  overflow: hidden;
  position: relative;
  display: flex;
  cursor: pointer;
}

.news-left {
  width: 10vh;
  height: 10vh;
  background: rgba(12, 12, 13, 0.1);
}

.news-right {
  width: calc(100% - 10vh);
  float: right;
  margin-left: 3px;
  height: 10vh;
  overflow: hidden;
}

.news-title {
  font-weight: 600;
  font-family: 'Lato', cursive;
  text-align: center;
  color: $white;
}
