@font-face {
    font-family: 'Roboto-Regular';
    src: url('assets/fonts/Roboto-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}

#calendar {
    background:$bg2;
    width:33.6rem;
    border-radius:8px;
    overflow:hidden;
    display:block;
    box-shadow: $b_shade;
    font-size: 17px;
}
.currentmonth {
    //font:16px 'Roboto';
    color: solid $func;
    text-align: center;
    font-weight: bold;
}
.currentday {
    color: $primary;
    background: $background;
    text-align: center;
    border:1px solid $bg2;
    box-sizing:border-box!important;
    border-radius:200px!important;
    font-weight: bold;
}

table.calendar {
    color: $act2;
    padding:1rem;
}

// Month
table.calendar th {
    padding: 0rem;
    font-weight: bold;
    font-size: 20px;
    color: $func;
}

// Days
table.calendar td {
    padding:0.6rem 1rem;
}

// Mon Tue etc
.weekdays {
    font-size: 18px;
    font-weight: bold;
    color: $white;
    padding: 0.6rem;
}

table.calendar {
    display:inline-block;
    *display:inline; zoom:1;
    vertical-align:top;
}