// Typography

$fontfamily: sofia-pro-soft, sans-serif;

$body-font-size: 1rem;

// Colors
$primary: #5d4d7a;
$secondary: #bc6ec5;
$offblack: #211A1D;

$aqua: #2d9574;
$blue1: #4f97d7;
$blue2: #7590db;
$blue3: #2aa1ae;
$blue4: #9a9aba;
$cyan: #28def0;
$gblue: #44505c;

$git-gray: #24292e;

$test: #2aa1ae;


$green1: #67b11d;
$green2: #86dc2f;
$red1: #f2241f;
$red2: #e0211d;
$red3: #ce537a;
$yellow: #b1951d;
$orange: #dc752f;
$brown: #9f8766;
$purple1: #3b314d;

$magenta1: #a31db1;
$magenta2: #c56ec3;

$white: #a3a3a3;
$func: #bc6ec5;
$act1: #222226;
$act2: #5d4d7a;
$bs: #222;
$bg2: #212026;
$Base: #b2b2b2;
$background: #292b2e;
$bg3: #100a14;
$bg4: #0a0814;

$baseSize: 1.4rem;

$slowDuration: 9s;
$fastDuration: 0.3s;

$bezier: cubic-bezier(0.54, -0.24, 0.46, 1.28);

$b_shade:3px 3px 10px $bs;